*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.main{
    width:50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
}

form{
    width:60%;
    height:400px;
}

.container{
    text-align: center;
    padding:40px;

}

button{
    padding: 5px 40px;
    font-size: 15px;
    background-color: black;
    color: white;
    font-weight: 600;
}